# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/
.packages/


# Logs
*.log

# Environment / secrets
.env
.env.*
*.secret
*.key
*.pem

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# dbt
DBT/dbt_packages/
DBT/logs/
DBT/target/
DBT/.user.yml
profiles.yml

# Streamlit
.streamlit/secrets.toml
Streamlit/.streamlit/secrets.toml

# Build / temp
tmp/
temp/
*.tmp
